<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3.5">

        <separator label="ARTIX LINUX"/>
        <item label="Terminal">
            <action name="Execute">
                <execute>terminator</execute>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <execute>thunar</execute>
            </action>
        </item>
        <item label="Visual Studio Code">
            <action name="Execute">
                <execute>code-insiders</execute>
            </action>
        </item>
        <item label="Brave">
            <action name="Execute">
                <execute>brave-nightly</execute>
            </action>
        </item>

        <separator/>
        <menu id="root-menu-programs" label="Programs">
            <item label="Astrill">
                <action name="Execute">
                    <execute>/usr/local/Astrill/astrill</execute>
                </action>
            </item>
            <item label="Krita">
                <action name="Execute">
                    <execute>krita</execute>
                </action>
            </item>
            <item label="LibreOffice">
                <action name="Execute">
                    <execute>libreoffice</execute>
                </action>
            </item>
            <item label="Mendeley">
                <action name="Execute">
                    <execute>mendeleydesktop</execute>
                </action>
            </item>
            <item label="Mozilla Firefox">
                <action name="Execute">
                    <execute>firefox</execute>
                </action>
            </item>
            <item label="Notepad">
                <action name="Execute">
                    <execute>geany</execute>
                </action>
            </item>
            <item label="Planmaker">
                <action name="Execute">
                    <execute>freeoffice-planmaker</execute>
                </action>
            </item>
            <item label="qBittorrent">
                <action name="Execute">
                    <execute>qbittorrent</execute>
                </action>
            </item>
            <item label="Skype">
                <action name="Execute">
                    <execute>skypeforlinux</execute>
                </action>
            </item>
            <item label="Spotify">
                <action name="Execute">
                    <execute>spotify</execute>
                </action>
            </item>
            <item label="Textmaker">
                <action name="Execute">
                    <execute>freeoffice-textmaker</execute>
                </action>
            </item>
            <item label="VirtualBox">
                <action name="Execute">
                    <execute>virtualbox</execute>
                </action>
            </item>
            <item label="WeChat">
                <action name="Execute">
                    <execute>/home/paul/.wine/drive_c/Program\ Files\ (x86)/Tencent/WeChat/WeChat.exe</execute>
                </action>
            </item>
            <item label="Zhumu">
                <action name="Execute">
                    <execute>zhumu</execute>
                </action>
            </item>
        </menu>

        <menu id="root-menu-settings" label="Settings">
            <item label="LxAppearance">
                <action name="Execute">
                    <execute>lxappearance</execute>
                </action>
            </item>
            <item label="LxRandr">
                <action name="Execute">
                    <execute>lxrandr</execute>
                </action>
            </item>
            <item label="Openbox Configuration">
                <action name="Execute">
                    <execute>obconf-qt</execute>
                </action>
            </item>
            <item label="Mixer">
                <action name="Execute">
                    <execute>pavucontrol</execute>
                </action>
            </item>
            <item label="Nitrogen">
                <action name="Execute">
                    <execute>nitrogen</execute>
                </action>
            </item>
            <item label="Tint2 Panel">
                <action name="Execute">
                    <execute>thunar /home/paul/.config/tint2/tint2rc</execute>
                </action>
            </item>
        </menu>

        <separator/>

        <menu id="root-menu-logout" label="Exit">
            <item label="Log Out">
                <action name="Execute">
                    <execute>openbox --exit</execute>
                </action>
            </item>
            <item label="Reboot">
                <action name="Execute">
                    <execute>sudo reboot</execute>
                </action>
            </item>
            <item label="Suspend">
                <action name="Execute">
                    <execute>sudo pm-suspend</execute>
                </action>
            </item>
            <item label="Shutdown">
                <action name="Execute">
                    <execute>sudo poweroff</execute>
                </action>
            </item>
        </menu>

    </menu>

</openbox_menu>
