/* URLBar: Fix vertical alignment */
#urlbar[breakout=true]:not([open="true"]) {
	--urlbar-height: 22px !important;
	--urlbar-toolbar-height: 22px !important;
}

/* Toolbar: Reduce spacing */
#urlbar-container {
	--urlbar-container-height: 26px !important;
  margin-top: 0 !important;
}

#TabsToolbar {
 display: block !important; /*required for 71+*/
 width: 100vw !important;
margin-top: -4px !important;
margin-bottom: 0px !important;
}

/* tabs width */
#tabbrowser-tabs {
  width: 100vw !important;
height: 15px! important;
}

.tab-background[selected="true"] {
      background-color: #F5F5F5 !important;
      background-image: none !important;
}